.footer{
    position: relative;
    height: 50vh;
    width: 100vw;
    background: linear-gradient(white,rgba(0, 0, 0, 0.314) 10% 90%,black);
    color: white;
    padding: 10px;
}
.bgImg{
    position: absolute;
    object-fit: cover;
    height: 50vh;
    width: 100vw;
    margin-left: -10px;
    z-index: -1;
}
.footerContent{
    position: relative;
    margin-top: 70px;
    height: 70%;
    display: flex;
    justify-content:space-between;
    padding: 20px;
    align-items: center;
    
}
.Contact{
    position: relative;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.SocialMedia{
    position: relative;
    width: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}
.socialsIcon:hover{
    transform: scale(1.5);
}
.SocialMedia a{
    margin: 20px;
    transform: scale(1.2);
}
.AboutUs{
    width: 20vw;
    text-align: center;
}