.footer{
    position: relative;
    height: 50vh;
    width: 100vw;
    font-size: clamp(0.5vw, 1rem, 1.5vw);
    background: linear-gradient(white,rgba(0, 0, 0, 0.314) 10% 90%,black);
    color: white;
    padding: 10px;

}
.footer h2{
    font-weight: bolder;
    font-size: clamp(1vw, 1rem, 2.5vw);
}
.bgImg{
    position: absolute;
    object-fit: cover;
    height: 50vh;
    width: 100vw;
    margin-left: -10px;
    z-index: -1;
}
.footerContent{
    position: relative;
    margin-top: 70px;
    height: 70%;
    display: flex;
    justify-content:space-between;
    padding: 20px;
    align-items: center;
    
}
.Contact{
    position: relative;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.SocialMedia{
    position: relative;
    width: 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}
.socialsIcon:hover{
    transform: scale(1.5);
}
.SocialMedia a{
    margin: clamp(0.5vw,20px,1vw);
    transform: scale(1.2);
}
.AboutUs{
    width: 20vw;
    text-align: center;
}
.socials{
    white-space: nowrap;
}